@media (min-width: 768px){
.advice{
    padding-inline: 50px;
    width: 386px;
}
.advice p{
    font-size: 21px;
    padding: 26px;
}
}

@media (max-width: 356px){
.advice{
    width: 270px;
}
    
}